.Mayak-bit {
	FONT-SIZE: 14pt; FONT-STYLE: normal; FONT-FAMILY: "Times New Roman", Times, serif; TEXT-DECORATION: none
}
P {
	FONT-SIZE: 14pt; FONT-FAMILY: "Times New Roman", Times, serif; TEXT-DECORATION: none
}
.Mayak_T12 {
	FONT-SIZE: 12pt; FONT-FAMILY: "Times New Roman", Times, serif
}
